@model IEnumerable<MySQLDapperDebug.Models.cipprocessdata>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no"/>
    <title>Data Acquisition System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/ReadDataStyles.css" type="text/css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <div>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Reporting Web App</a>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div id="UserInput" class=" border border-dark">
                <div class="container" id="userInput">
                    <div>
                        <form id="collectDateTime">
                            <h3>Start Date:</h3><input id="startDate" class="datetime" name="StartDate" type="datetime-local" />
                            <h3>End Date:</h3><input id="endDate" class="datetime" name="EndDate" type="datetime-local" />
                        </form>
                    </div><br />
                    <div>
                        <select id="Database" name="Database">
                            <option value="">Database</option>
                            <option value="MySQL">MySQL</option>
                            <option value="firebird">Firebird</option>
                            <option value="postgre">PostGRE</option>
                            <option value="">MongoDB</option>
                        </select>
                        <select id="reportType">
                            <option value="">Report</option>
                            <option value="Date Time">Date Time</option>
                            <option value="Averages">Averages</option>
                            <option value="Moving Averages">Moving Averages</option>
                        </select>
                        <select id="Sensor">
                            <option value="">Sensor</option>
                            <option value="Fit1FlowRate">Fit1FlowRate</option>
                            <option value="Lt1Gallons">Lt1Gallons</option>
                            <option value="Lt2Gallons">Lt2Gallons</option>
                            <option value="Pt1Pressure">Pt1Pressure</option>
                            <option value="Pt2Pressure">Pt2Pressure</option>
                            <option value="P1Speed">P1Speed</option>
                            <option value="P2Speed">P2Speed</option>
                            <option value="Tt1Temperature">Tt1Temperature</option>
                            <option value="Tt2Temperature">Tt2Temperature</option>
                            <option value="Tt3Temperature">Tt3Temperature</option>
                        </select>
                    </div><br />
                    <div>
                        <form name="ReportTypeSelection">
                            <button type="button" class="btn btn-dark" onclick="createNewGraph()">
                                Create
                            </button>
                        </form>
                    </div>
                </div>
                <hr />
                <div id="reportDiv">

                </div>
            </div>
            <div class="col-md border border-dark">
                <div>
                    <br />
                    <div id="graphDiv">
                        <script>
                            var data;
                            Plotly.newPlot('graphDiv', data);
                        </script>
                    </div>
                </div>
                <hr />
                <div id="table">
                    <table class="table table-hover">

                        <tr>
                            <th>DateCollected</th>
                            <th>Selected Sensor</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <nav class="navbar fixed-bottom navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
        </nav>
    </div>
    <script>
        /*function createNewGraph() {
            //add the current value of sensor to session storage
            sessionStorage.setItem('Sensor', document.getElementById('Sensor').value)
            //construct URL to be stored in sessionStorage re; report representation, window creation
            var URL = 'ReadData?' +
                'dataBase=' + document.getElementById('Database').value +
                '&sensor=' + document.getElementById('Sensor').value +
                '&begin=' + document.getElementById('startDate').value +
                '&end=' + document.getElementById('endDate').value;
            //now we create the array that we will store our report calls in
            var generatedReports = [];
            //now we push the new report in to the generatedReports array
            console.log(URL);
            generatedReports[0] = URL;
            //with the array appended, we stringify it and store it in sessionStorage
            sessionStorage.setItem("reports", JSON.stringify(generatedReports));
            //Finally we execute the call to ReadData
            window.location.href = URL;
        }*/

        function createNewGraph() {
            //add the current value of sensor to session storage
            sessionStorage.setItem('Sensor', document.getElementById('Sensor').value);
            //add the current value of reportType to session storage
            sessionStorage.setItem('ReportType', document.getElementById('reportType').value);
            //construct URL to be stored in sessionStorage re; report representation, window creation
            var URL = 'ReadData?' +
                'dataBase=' + document.getElementById('Database').value +
                '&sensor=' + document.getElementById('Sensor').value +
                '&begin=' + document.getElementById('startDate').value +
                '&end=' + document.getElementById('endDate').value +
                '&reportType=' + document.getElementById('reportType').value;
            //now we create the array that we will store our report calls in
            var generatedReports = [];
            //we also create an array to store the sensor corresponding to each report in
            var pastSensors = [];
            //we also create an array to store the report types corresponding to each report in
            var pastReportTypes = [];
            //make sure to update the array from our session storage first
            generatedReports[0] = URL;
            //repeat for the sensors array
            pastSensors[0] = document.getElementById('Sensor').value;
            //repeat for the reportTypes array
            pastReportTypes[0] = document.getElementById('reportType').value;
            //with the array created, we stringify it and store it in sessionStorage
            sessionStorage.setItem("reports", JSON.stringify(generatedReports));
            sessionStorage.setItem('sensors', JSON.stringify(pastSensors));
            sessionStorage.setItem('reportTypes', JSON.stringify(pastReportTypes));
            //Finally we execute the call to ReadData
            window.location.href = URL;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>